figure.floatright {
	max-width: 50%;
	width: auto\9*0.3; /* ie8 */
	padding: 10px;
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 50%;
	width: auto; /* ie8 */
	padding: 20px;
	height: auto;
	float: left;
}